html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /* 滑块部分 */
  border-radius: 2px;
  background-color: #0000004d;
}
::-webkit-scrollbar-track {
  /* 轨道部分 */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
}
